In [2]:
txtfile = 'popular-names.txt'

# 10.行数のカウント

In [3]:
count = 0

with open(txtfile) as f:
    for line in f:
        count += 1
print(count)

2780

In [158]:
!wc -l popular-names.txt

    2780 popular-names.txt

# 11.タブをスペースに変換

In [14]:
with open(txtfile) as f:
    lines = f.readlines()
    lines_replace = [item.replace("\t"," ") for item in lines]
lines_replace[:5]

['Mary F 7065 1880\n',
 'Anna F 2604 1880\n',
 'Emma F 2003 1880\n',
 'Elizabeth F 1939 1880\n',
 'Minnie F 1746 1880\n']

In [159]:
!cat popular-names.txt | tr '\t' ' ' | head -n 5

Mary F 7065 1880
Anna F 2604 1880
Emma F 2003 1880
Elizabeth F 1939 1880
Minnie F 1746 1880

# 12. 1列目をcol1.txtに、2列目をcol2.txtに保存

In [27]:
with open('col1.txt','w') as w1, open('col2.txt','w') as w2:    
    with open(txtfile) as f:     
        for line in f:
            w1.write(line.split('\t')[0] + '\n')
            w2.write(line.split('\t')[1] + '\n')

In [28]:
!cat popular-names.txt | cut -f 1 > col1.txt
!cat popular-names.txt | cut -f 2 > col2.txt

# 13. col1.txtとcol2.txtをマージ

In [36]:
with open('col1.txt') as f1, open('col2.txt') as f2:
        with open('merge','w') as s:
            for l1 , l2 in zip(f1,f2):
                s.write(l1.split()[0] + '\t' + l2.split()[0]  + '\n')

In [161]:
!paste col1.txt col2.txt | head -n 5

Mary	F
Anna	F
Emma	F
Elizabeth	F
Minnie	F

# 14.先頭からN行を出力

In [39]:
with open(txtfile) as f:
    lines = f.readlines()
    
N = int(input())
print("".join(lines[:N]))

4
['Mary\tF\t7065\t1880\n', 'Anna\tF\t2604\t1880\n', 'Emma\tF\t2003\t1880\n', 'Elizabeth\tF\t1939\t1880\n']
Mary	F	7065	1880
Anna	F	2604	1880
Emma	F	2003	1880
Elizabeth	F	1939	1880

In [164]:
!head -n 5 popular-names.txt

Mary	F	7065	1880
Anna	F	2604	1880
Emma	F	2003	1880
Elizabeth	F	1939	1880
Minnie	F	1746	1880

# 15.末尾のN行を出力

In [115]:
print("".join(lines[-N:]))

Benjamin	M	13381	2018
Elijah	M	12886	2018
Lucas	M	12585	2018
Mason	M	12435	2018
Logan	M	12352	2018

In [165]:
!tail -n 5 popular-names.txt

Benjamin	M	13381	2018
Elijah	M	12886	2018
Lucas	M	12585	2018
Mason	M	12435	2018
Logan	M	12352	2018

# 16.ファイルをN分割する

In [42]:
with open(txtfile) as f:
    lines = f.readlines()

N = int(input())

for i in range(N):
    with open('output' + str(i), 'w') as w:
        w.write(''.join(lines[i * int(len(lines) / N) : (i+1) * (int(len(lines) / N))]))

5

In [43]:
!split -n 5 popular-names.txt

split: illegal option -- n
usage: split [-a sufflen] [-b byte_count] [-l line_count] [-p pattern]
             [file [prefix]]

# 17.1列目の文字列の異なり

In [50]:
with open(txtfile) as f:
    lines = f.readlines()
    line_name = [item.split('\t')[0] for item in lines]

print(len(set(line_name)))

136

In [168]:
!cat popular-names.txt | cut -f 1 | sort | uniq | head -n 5

Abigail
Aiden
Alexander
Alexis
Alice

# 18.各行を3コラム目の数値の降順にソート

In [54]:
with open(txtfile) as f:
    lines = f.readlines()
lines = sorted(lines, key=lambda x:-int(x.split('\t')[2]))

print(''.join(lines[:5]))

Linda	F	99689	1947
Linda	F	96211	1948
James	M	94757	1947
Michael	M	92704	1957
Robert	M	91640	1947

In [67]:
!cat popular-names.txt | sort -r -k 3 | head -n 5

Linda	F	99689	1947
James	M	9951	1911
Mildred	F	9921	1913
Mary	F	9889	1886
Mary	F	9888	1887
sort: Broken pipe

# 19.各行の1コラム目の文字列の出現頻度を求め、出現頻度の高い順に並べる

In [69]:
ans = {}
with open(txtfile) as f:
    for line in f:
        name = line.split('\t')[0]
        if name in ans:
            ans[name] += 1
        else:
            ans[name] = 1
            
ans = sorted(ans.items(), key=lambda x:-x[1])
ans[:5]

[('James', 118),
 ('William', 111),
 ('John', 108),
 ('Robert', 108),
 ('Mary', 92)]

In [70]:
!cat popular-names.txt | cut -f 1 | sort -k 1 | uniq -c | sort -k 1 -r | head -n 5

 118 James
 111 William
 108 Robert
 108 John
  92 Mary